@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    direction: rtl;
  }
  .btn {
    @apply w-fit border-2 border-cello px-2 py-1 rounded-md disabled:border-gray-400 disabled:text-gray-400 late;
  }
  .btn_del {
    @apply bg-primary text-sidecar text-sm rounded-md py-1 px-2 h-fit hover:bg-opacity-70 late;
  }
  .btn_edit {
    @apply bg-yellow-500 w-fit text-sidecar text-sm rounded-md py-1 px-2 h-fit hover:bg-yellow-400 late;
  }
  .btn_disable {
    @apply bg-gray-500 text-sidecar w-[75px] text-sm rounded-md p-1 h-fit hover:bg-gray-400 late;
  }
  .container {
    @apply flex flex-col gap-5 min-w-full;
  }
  .header {
    @apply text-xl font-semibold py-4;
  }
  .input_style {
    @apply py-1 px-2 bg-cello bg-opacity-10 border border-cello rounded-md text-gray-700 outline-none focus:outline-cello outline-offset-0;
  }
  .input_container {
    @apply flex items-center gap-1 grow;
  }
  .input_subject {
    @apply w-24 sm:w-28 md:w-32;
  }
  .input_title {
    @apply input_style w-24 md:w-32 h-20;
  }
  .input_content {
    @apply input_style grow;
  }
  .late {
    @apply transition-all duration-200;
  }
  .side-icon {
    @apply border-[1px] border-sidecar py-2 px-4 text-center 2xl:text-xl rounded-md hover:bg-sidecar hover:text-cello cursor-pointer late;
  }
}
